body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.areaImg{
    width: 800px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    background-image: none;
    background-size: cover;   
}
.area{
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    background-image: none;
    background-size: cover;  
}

.doorImg{
    position: absolute;
}

